.betting-odds-button {
  border: 4px solid rgba(0, 0, 0, 0);
  transition: border-color 1s;
}

.betting-odds-button.active {
  background-color: #ffc800;
  color: black;
}

.betting-odds-button.odds-increased {
  border: 4px solid green;
}

.betting-odds-button.odds-decreased {
  border: 4px solid red;
}
